


<!DOCTYPE html>
<html>

<head>
    <link rel = "stylesheet" href = "{{ url_for('static', filename = 'style.css') }}">

    <title>Index Page</title>
</head>
<body>
    <section class = "index_page">
        <h1 class = "index_page">Hi Everyone, My name is Stefan</h1>
        <h2 class = "index_page">About me</h2>
        <img src="raw/meandtheboys.png" alt="">
        <p class = "index_page">I am a student who is still studying how to program. I have learned about Data Analysis, 3D games, Machine Learning Model, etc. This is a project that I make to get more experience.</p>
        
        
        <h2 class = "index_page">About the Project</h2>
        <p class = "index_page">This is where im trying to make a clone of a game called "Wordle".</p>

        <p class = "index_page">Click the button below</p>
        <button onclick="">Next Page</button>
    </section>
</body>


</html>